body{
    border : black 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
}
.carte{
border: white 5px solid;    
padding-left: 70px;
padding-right: 70px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#titre{
    color: white;
}
